# Fichiers sensibles
pk.txt

# OS
Thumbs.db
Desktop.ini
.DS_Store

# IDE
.vscode/
.idea/
*.swp
*.swo

# Gemini
.gemini/

# Téléchargements temporaires
Téléchargements

# Fichiers source images bruts (trop lourds)
img/

# Scripts de build locaux
compress-images.js
node_modules/

# Fichiers MD temporaires
*.md
!README.md
